@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Montserrat:wght@500&family=Quicksand:wght@500&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameScore {
    display: flex;
    gap: 200px;
    color: blue;
}

.userOptions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

button img {
    width: 200px;
    transform: rotate(270deg)
}

